<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ibao.alanger.worktimecopa">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.ibao.alanger.worktimecopa.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:screenOrientation="portrait"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">


        <activity
            android:name="com.ibao.alanger.worktimecopa.views.transference.TabbetActivity"
            android:theme="@style/AppThemeMaterial.NoActionBar"/>

        <activity
            android:name="com.ibao.alanger.worktimecopa.update.view.ActivityUpdate"
            android:theme="@style/AppThemeMaterial.NoActionBar">

        </activity>

        <activity
            android:name="com.ibao.alanger.worktimecopa.upload.ActivityUpload"
            android:theme="@style/AppThemeMaterial.NoActionBar" />

        <activity android:name="com.ibao.alanger.worktimecopa.views.CreateTareoActivity"
            android:theme="@style/AppThemeMaterial"
            />
        <activity
            android:name="com.ibao.alanger.worktimecopa.views.SelectTareoActivity"
            android:label="@string/select_tareo_activity_name" />
        <activity android:name="com.ibao.alanger.worktimecopa.views.productividad.ProductividadActivity"
            android:label="Productividad"
            />
        <activity
            android:name="com.ibao.alanger.worktimecopa.views.tareo.TareoActivity"
            android:label="@string/tareo_labor_name">

        </activity>
        <activity
            android:name="com.ibao.alanger.worktimecopa.views.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.ibao.alanger.worktimecopa.views.ActivityPreloader"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ibao.alanger.worktimecopa.login.view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name="com.ibao.alanger.worktimecopa.views.transference.CustomScannerActivity"
            android:parentActivityName="com.ibao.alanger.worktimecopa.views.transference.TabbetActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.ibao.alanger.worktimecopa.update.UpdateService"
            android:enabled="true"
            android:exported="true" />



    </application>

</manifest>